<form method="POST" action="/members/<%=@member.id%>/booking">

<label for="booking-selection">Book a class:</label>
<select name="name" id="booking-selection">
  <% @fitness_classes.each do |fitness_class| %>
  <option value=<%= fitness_class.id %>><%= fitness_class.name %></option>
  <% end %>
</select>
<!-- <input type="hidden" name="name" value="booking-selection"> -->


  <input type="submit" value="Confirm booking">


</form>
