<h2>Members</h2>

<!-- <div id="member-wrapper"> -->
  <% @members.each do |member| %>
  <ul>
    <li>Member <%= member.id %>: <%= member.pretty_name %>
    <a href="/members/<%= member.id %>">View details</a></li>
  </ul>
  <!-- </div> -->

  <% end %>
<!-- </div> -->
