
<h2>Sign up a new member</h2>
<form method="POST" action="/members">

      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" id="first_name"/>

    <br>
    <br>
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" id="last_name"/>
    <br>
    <br>
      <input type="submit" value="Complete member sign-up"/>

</form>
<hr>
<img src="/images/member2.jpg" alt="Gym member" height="300" width="500"/>
