
<h2>Sign up a new member</h2>
<form method="POST" action="/members">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" id="first_name"/>

    </div>
    <br>
    <div class="form-el">
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" id="last_name"/>
    </div>
    <br>
    <div class="form-el">
      <input type="submit" value="Complete member sign-up"/>
    </div>

  </div>
</form>
<hr>
<img src="/images/member2.jpg" alt="Gym member" height="300" width="500"/>
