<!DOCTYPE html>
<html>
<head>
  <title>Welcome to YOUR GYM</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav id="menu">
    <li class="menu-item"><a href='/'>Index</a></li>
    <li class="menu-item"><a href='/members'>Members</a></li>
    <li class="menu-item"><a href='/members/new'>Member sign-up</a></li>
  </nav>
  <h1 id="logo">YOUR GYM</h1>
  <%= yield %>

</body>
</html>
