<!DOCTYPE html>
<html>
<head>
  <title>Welcome to YOUR GYM</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <nav id="menu">
    <li class="menu-item"><a href='/'>Home</a></li>
    <li class="menu-item"><a href='/members/index'>Members</a></li>
    <li class="menu-item"><a href='/members/new'>Sign up a new member</a></li>
    <li class="menu-item"><a href='/fitness_classes/index'>Classes</a></li>
    <li class="menu-item"><a href='/fitness_classes/new'>Add a new class</a></li>
    <li class="menu-item"><a href='/bookings/new'>Book a class</a></li>
  </nav>
  <h1 id="logo">YOUR GYM</h1>
  <%= yield %>

</body>
</html>
