head {
  background-color: #3AAFA9;
  color: #17252A;
}

body {
  background-color: #3AAFA9;
  color: #17252A;
}

nav {
  color: #FEFFFF;
}


/*


text is black (#17252A) and white (#FEFFFF)
background is a green (#3AAFA9)
additional shades #DEF2F1 and #2B7A78 */
