body {
  padding: 30px;
  font-family: 'Futura Book', sans-serif;
  background-color: #3AAFA9;
}

a {
  color: #374785;
}

a:hover {
  color: #A64AC9;
}

#menu {
  display: flex;
  align-content: space-between;
}

#menu a {
  text-decoration: none;
}

.menu-item {
  display: inline-block;
  flex-grow: 1;
}

#logo {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.table-container {
display: flex;
flex: 0 1 auto;
align-content: flex-start | flex-end;
}

tr:nth-child(even) {
  background-color: #AAABB8;
}

tr:nth-child(odd) {
  background-color: #DEF2F1;
}

ul {
color: #17252A;
list-style-type: none;
margin: 0;
padding: 0;
position: absolute;
}
