<form method="post" action="/fitness_classes/<%= @fitness_class.id %>">

  <label for="name-field">Name: </label>
  <input type="text" name="name" id="name-field"
  value="<%= @fitness_class.name %>">

  <label for="datetime">Date and time: </label>
  <input type="datetime-local" name="datetime" id="datetime"
  value="<%= @fitness_class.format_date_for_browser %>">

  <label for="capacity">Capacity:</label>
  <input type="number" name="capacity" id="capacity"/>


  <input type="submit" value="Submit updated class details">

</form>
