<h2>Add a fitness classr</h2>
<form method="POST" action="/fitness_classes">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Create new class"/>
    </div>

  </div>
</form>
