<h2>Add a fitness class</h2>
<form method="POST" action="/fitness_classes">

      <label for="name">Name:</label>
      <input type="text" name="fitness_class[name]" id="name"/>

    <div class="form-el">
      <input type="submit" value="Create new class"/>

</form>
