<h2>Add a fitness class</h2>

<form method="POST" action="/fitness_classes">

  <label for="name">Name:</label>
  <input type="text" name="name" id="name"/>

  <label for="datetime">Date and Time:</label>
  <input type="datetime-local" name="datetime" id="datetime"/>

  <br>
  <br>
    <input type="submit" value="Create new class"/>

  </form>

  <hr>
  <img src="/images/yoga.jpg" alt="One of our classes" height="300" width="500"/>
